/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    background-color: #c4c4c4;
    width: 100%;
    padding: 1rem;
}

header h1{
    font-size: 2em;
    margin-bottom: 10px;
}

header h1 i{
    font-size: 1.2em;
}

nav{
    background-color: #312f2f;
}

nav ul{
    display: flex;
    padding-left: 1rem;
}

nav ul li{
    padding: 0.5rem 0.75rem;
}

nav ul li a{
    color: #c4c4c4;
    text-decoration: none;
    font-size: 1.3em;
}

@media(max-width:600px){
    nav ul{
        flex-direction: column;
    }
    nav ul li a{
        font-size: 1em;
    }
}

nav ul li a:hover{
    color: yellow;
}

nav ul li a i{
    font-size: 1.2em;
}

section.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

section.container section.left{
    padding: 1rem;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 350px;
}

section.container section.left #curve_chart{
    width: 70vw;
    height: 50vh;
}

@media(max-width:500px){
    section.container section.left #curve_chart{
        width: 100vw;
        height: 50vh;
    }
}


section.container section.right{
    padding: 1rem;    
    flex: 1 1 350px;
}

section.container section.right h5{
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: center;
}

section.container section.right iframe{
    border: 1px solid red;
    border-radius: 50px;
    margin-top: 10px;
}